.app-promo {
  position: relative;

  padding-top: 110px;
  padding-bottom: 35px;

  font-weight: 300;
  text-align: center;;
}

.app-promo__container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.app-promo__title {
  display: none;
}

.app-promo__button {
  align-self: center;
  width: 281px;
  margin-bottom: 28px;
  padding: 14px 29px 15px;

  font-size: 18px;
  line-height: 18px;

  border: solid 3px #ffffff;
  border-radius: 30px;

  z-index: 2;
}

.app-promo__image {
  order: -1;
  margin-left: -65px;
  margin-bottom: 28px;
}

.app-promo__download-list {
  display: inline-flex;
  align-self: center;
  min-height: 56px;
}

.app-promo__download-item {
  margin-right: 34px;
}

.app-promo__download-item:last-of-type {
  margin-right: 0;
}

.app-promo__link {
  position: relative;

  display: block;
  width: 47px;
}

.app-promo__link--apple::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 47px;
  height: 56px;

  background-image: url("../img/logo-apple.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.app-promo__link--google::after {
  content: "";

  position: absolute;
  top: 9px;
  left: 0;

  width: 47px;
  height: 56px;

  background-image: url("../img/logo-android.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.app-promo__link--microsoft::after {
  content: "";

  position: absolute;
  top: 14px;
  left: 0;

  width: 47px;
  height: 56px;

  background-image: url("../img/logo-microsoft.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.app-promo::before {
  content: "";

  position: absolute;
  top: 395px;
  left: 0;

  width: 100%;
  height: 277px;


  background-color: #1d2631;
}

.app-promo__text {
  margin-top: 28px;

  font-size: 14px;
  font-weight: 100 !important;

  z-index: 2;
}

@media (min-width: 340px) {

  .app-promo__image {
    margin-left: 0;
  }

}

@media (min-width: 660px) {

  .app-promo {
    padding-bottom: 110px;
    padding-right: 361px;
  }

  .app-promo__container {
    width: 320px;
    margin: 0 auto;
    padding-right: 0;
  }

  .app-promo__title {
    display: flex;
    align-self: center;
    width: 186px;
    margin-bottom: 35px;

    z-index: 2;
  }

  .app-promo::before {
    display: none;
  }

  .app-promo__image {
    position: absolute;
    left: calc(50% - 357px);
    // bottom: -5%;
  }

  .app-promo__button {
    width: 300px;
    margin-bottom: 45px;
  }

  .app-promo__text {
    align-self: center;

    font-size: 18px;
  }

}

@media (min-width: 960px) {

  .app-promo {
    padding-top: 120px;
    padding-right: 676px;
    padding-bottom: 125px;
  }

  .app-promo__image  {
    left: calc(50% - 455px);
    bottom: -5%;
  }
  .app-promo__title {
    width: 238px;
    margin-bottom: 60px;
  }

  .app-promo__button {
    margin-bottom: 65px;
  }

  .app-promo__text {
    margin-top: 60px;
  }

}
