.contacts {
  padding-top: 50px;
}

.contacts__title {
  width: 222px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.contacts__list {
  text-align: center;
  margin-bottom: 35px;
}

.contacts__list-wrapper {
  margin-bottom: 25px;
}

.contacts__list-wrapper:last-of-type {
  margin-bottom: 0;
}

.contacts__list-title {
  font-weight: 700;
  margin-bottom: 8px;
}

.contacts__list-value {
  margin: 0;

  font-size: 24px;
  font-weight: 300;
  color: $text__light-red;
}

.contacts__list-address {
  font-style: normal;
}

.contacts__list-link--interactive {

  &:hover {
    color: #283645;
    text-decoration: underline;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
    text-decoration: none;
  }

}

.contacts__map {
  position: relative;

  height: 200px;

  overflow: hidden;

  &::before {
    content: "";

    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 33px;

    background-image: url("../img/bg-triangle-white-footer.svg");
    background-size: 100% 33px;
    background-position: 50% 0;
    background-repeat: no-repeat;
  }

}

.contacts__map-link {
  display: block;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.contacts__map-link::before {
  content: "";

  position: absolute;
  top: 95px;
  left: 50%;
  transform: translateX(-50%);

  width: 36px;
  height: 35px;

  background-color: #d22856;
  border: solid 10px #ffffff;
  border-radius: 50%;

  z-index: 15;
}

.contacts__map-image {
  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translateX(-50%);
}

.contacts__map-interactive {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 20;
}

@media (min-width: $tablet-width) {

  .contacts__title {
    width: 369px;
  }

  .contacts__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  .contacts__list-wrapper--call {
    width: 206px;
    margin-right: 100px;
    margin-left: 40px;
  }

  .contacts__list-wrapper--write {
    width: 237px;
    margin-right: 25px;
  }

  .contacts__list-wrapper--come {
    width: 211px;
  }

  .contacts__map {
    width: auto;
    height: 375px;

    &::before {
      left: 50%;
      transform: translateX(-50%);

      height: 67px;

      background-size: 100% 67px;
    }

  }

  .contacts__map-link::before {
    top: 178px;
  }

  .contacts__map-image {
    bottom: -110px;

    width: 700px;
  }

}

@media (min-width: 700px) {

  .contacts__list-wrapper--come {
    width: 50%;
  }

}

@media (min-width: $desktop-width) {

  .contacts__title {
    width: 461px;
    margin-bottom: 65px;
  }

  .contacts__list {
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  .contacts__list-title {
    margin-bottom: 25px;
  }

  .contacts__list-wrapper--call {
    order: 1;
    margin-left: 45px;
    margin-right: 115px;
  }

  .contacts__list-wrapper--come {
    order: 2;
    width: 211px;
    margin-right: 95px;
  }

  .contacts__list-wrapper--write {
    order: 3;
    margin-right: 0;
  }

  .contacts__map {
    height: 500px;

    &::before {
      height: 105px;
      background-size: 100% 105px;
    }

  }

  .contacts__map-link::before {
    top: 262px;
  }

  .contacts__map-image {
    bottom: -197px;

    width: 1200px;
  }

}
