.page-header {
  color: #fff;

  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: cover;
}

.main-nav {
  position: relative;
  z-index: 2;
}

.main-nav--shadow {
  width: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.main-nav__container {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 0;
  margin: 0;
}

.page-header__logo {
  width: 74px;
  margin: 20px 0 20px 20px;

  &[href]:hover .page-header__logo-image path {
    fill: #d22856;
  }

  &[href]:active .page-header__logo-image path  {
    fill: #ffffffff;
    opacity: 0.3;
  }
}

.page-header__logo-image--tablet {
  display: none;
}

.page-header__logo-image--desktop {
  display: none;
}

.main-nav__toggle {
  position: absolute;
  right: 20px;

  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
  top: 20px;

  width: 50px;
  height: 24px;
}

.main-nav__toggle:hover .main-nav__toggle-stick,
.main-nav__toggle:hover .main-nav__toggle-stick::before,
.main-nav__toggle:hover .main-nav__toggle-stick::after {
  background-color: #d22856;
}

.main-nav__toggle:active .main-nav__toggle-stick,
.main-nav__toggle:active .main-nav__toggle-stick::before,
.main-nav__toggle:active .main-nav__toggle-stick::after {
  background-color: rgba(#d22856, 0.3);
}

.main-nav--closed .main-nav__toggle-stick {
  display: block;
  width: 50px;
  height: 4px;

  background-color: #fff;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 50px;
    height: 4px;

    background-color: #fff;
  }

  &::after{
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 50px;
    height: 4px;

    background-color: #fff;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 21px;

  width: 32px;
  height: 32px;
}

.main-nav--opened .main-nav__toggle-stick {
  display: block;
  width: 32px;
  height: 5px;

  background-color: #fff;
  border-radius: 2px;

  transform: rotate(-45deg);

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 32px;
    height: 5px;

    background-color: #fff;
    border-radius: 2px;

    transform: rotate(90deg);
  }

}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.site-list {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #283645;
}

.main-nav--closed .site-list {
  display: none;
}

.main-nav--nojs .site-list {
  display: block;
}

.site-list__item {
  text-align: center;
}

.site-list__link {
  display: block;
  padding: 18px 0;

  border-top: 1px solid rgba(255,255,255,.15);
  border-bottom: 1px solid #000;
}

.site-list__link[href] {

  &:hover {
    color: #d22856;
  }

  &:active {
    color: rgba(#d22856, 0.3);
  }

}

.page-title {
  margin: 0 auto;

  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}

.page-header__photo-title {
  width: 243px;
  margin-top: 35px;
  padding-bottom: 85px;
}

.page-header__contest-title {
  width: 243px;
  margin-top: 33px;
  padding-bottom: 50px;
}

@media (min-width: 340px) {

  .page-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 51% 0;
  }

}

@media (min-width: 660px) {

  .page-header__logo {
    width: 150px;
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .page-header__logo-image--mobile {
    display: none;
  }

  .page-header__logo-image--tablet {
    display: block;
  }

  .main-nav--closed .main-nav__toggle {
    top: 44px;
  }

  .main-nav--opened .main-nav__toggle {
    top: 45px;
  }

  .page-title {
    width: 350px;

    font-size: 50px;
    line-height: 60px;
  }

  .page-header__contest-title {
    width: 474px;
    margin-top: 80px;
    padding-bottom: 70px;
  }

}

@media (min-width: $desktop-width) {

  .page-header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 2560px auto;
    background-position: center top;
    z-index: 2;
  }

  .main-nav__container {
    flex-direction: row;
    min-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .page-header__logo {
    margin: 0;
    margin-top: 27px;
    margin-right: 169px;
  }

  .page-header__logo-image--tablet {
    display: none;
  }

  .page-header__logo-image--desktop {
    display: block;
  }

  .main-nav__toggle {
    display: none;
  }

  .site-list {
    display: flex;

    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    text-transform: none;

    background-color: transparent;
  }

  .main-nav--closed .site-list {
    display: flex;
  }

  .main-nav--nojs .site-list {
    display: flex;
  }

  .site-list__item {
    margin-right: 80px;
  }

  .site-list__item:last-of-type {
    margin-right: 0;
  }

  .site-list__link {
    position: relative;
    padding: 45px 0;

    box-shadow: none;
  }

  .site-list__link--current {
    &::after {
      content: "";

      position: absolute;
      bottom: 35px;
      left: 0;
      right: 0;

      height: 2px;

      background-color: #fff;
    }
  }

  .page-title {
    font-size: 50px;
    line-height: 50px;
  }

  .page-header__contest-title {
    width: 747px;
    margin-top: 70px;
    padding-bottom: 90px;
  }

}
