.page-footer {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer--index {
  display: none;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-footer__logo {
  margin-bottom: 40px;

  &[href]:hover .page-footer__logo-image path {
    fill: #d22856;
  }

  &[href]:active .page-footer__logo-image--mobile g > path {
    fill: rgba(#283645, 0.3);
  }

  &[href]:active .page-footer__logo-image--mobile  > path {
    opacity: 0.3;
  }

  &[href]:active .page-footer__logo-image--desktop g:first-of-type > path {
    fill: rgba(#283645, 0.3);
  }

  &[href]:active .page-footer__logo-image--desktop > path {
    fill: rgba(#283645, 0.3);
  }

  &[href]:active .page-footer__logo-image--desktop g:nth-of-type(2) > path {
    opacity: 0.3;
  }

}

.page-footer__logo-image--desktop {
  display: none;
}

.social__list {
  display: flex;
  margin-bottom: 30px;
}

.social__item {
  position: relative;

  width: 51px;
  height: 51px;
  margin-right: 15px;

  border: solid 3px rgba(#283645, 0.1);
  border-radius: 50%;

  &:hover {
    border-color: #283645;
  }

  &:active {
    opacity: 0.1;
  }

}

.social__item:last-of-type {
  margin-right: 0;
}

.social__link {
  display: block;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center;
}

.social__link--twitter {
  background-image: url("../img/icon-twitter.svg");
}

.social__link--facebook {
  background-image: url("../img/icon-facebook.svg");
}

.social__link--youtube {
  background-image: url("../img/icon-youtube.svg");
  background-position: 55% 50%;
}

.page-footer__copyright-link {
  font-size: 13.5px;
  line-height: 17px;

  &:hover .page-footer__copyright-icon path {
    fill: #283645;
  }

  &:active .page-footer__copyright-icon path {
    fill: rgba(#283645, 0.3);
  }

}

.page-footer__copyright-icon {
  position: relative;
  top: 12px;
  margin-left: 12px;
}

.page-footer__copyright-icon path {
  fill: #d22856;
}

@media (min-width: $tablet-width) {

  .page-footer {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .page-footer--index {
    display: block;
  }

  .page-footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .page-footer__logo {
    margin-bottom: 0;
  }

  .social__list {
    margin-bottom: 0;
}

}

@media (min-width: $desktop-width) {

  .page-footer {
    display: block;
    padding-top: 95px;
    padding-bottom: 74px;
  }

  .page-footer--index {
    padding-top: 75px;
  }

  .page-footer__logo-image--mobile {
    display: none;
  }

  .page-footer__logo-image--desktop{
    display: block;
  }

  .page-footer__copyright-link {
    font-size: 17px;
  }

}
