.reviews {
  padding-top: 45px;
  padding-bottom: 7px;

  text-align: center;
}

.slider__slide {
  display: none;
}

.slider__slide--current {
  display: block;
}

.reviews__prev,
.reviews__next,
.reviews__author-details {
  display: none;
}

.reviews__author {
  margin-bottom: 25px;
}

.reviews__author-name {
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
}

.reviews__text {
  width: 276px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 14px;
  line-height: 30px;
}

.slider-controls__button {
  width: 6px;
  height: 6px;
  margin-right: 15px;

  background-color: #283645;
  border-radius: 50%;

  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

}

.slider-controls__button--current {
  width: 12px;
  height: 12px;

  border: solid 3px #283645;
  border-radius: 50%;
  background-color: transparent;

  opacity: 1;
}

@media (min-width: 660px) {

  .reviews {
    padding-top: 20px;
  }

  .slider__slide--current {
    display: flex;
    flex-direction: column;
  }

  .reviews__author {
    order: 2;
  }

  .reviews__author-name {
    font-size: 20px;
  }

  .reviews__author-details {
    display: block;

    font-size: 14px;
    line-height: 30px;
  }

  .reviews__text {
    width: 100%;
    margin: 0;
    margin-bottom: 40px;

    font-size: 18px;
  }

}

@media (min-width: $desktop-width) {

  .reviews {
    position: relative;

    padding-top: 190px;
    padding-bottom: 35px;

    &::before {
      content: "";

      position: absolute;
      top: 72px;
      left: 0;
      right: 0;

      width: 79px;
      height: 63px;
      margin: 0 auto;

      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-details {
    font-size: 18px;
  }

  .reviews__text {
    align-self: center;
    width: 685px;
  }

  .reviews__arrows {
    position: absolute;
    top: 50%;

    width: 920px;
  }

  .reviews__prev,
  .reviews__next  {
    position: absolute;

    display: block;
    width: 22px;
    height: 41px;

    opacity: 0.3;

    background-repeat: no-repeat;
    background-position: 0 0;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }

  }

  .reviews__prev {
    left: 0;

    background-image: url("../img/icon-review-arrow-left.svg");
  }

  .reviews__next {
    right: 0;

    background-image: url("../img/icon-review-arrow-right.svg");
  }

  .reviews__toggles {
    display: none;
  }

}
